# 读取数据集

In [1]:
import pandas as pd
path = './dataSet/'
dataPath = path + 'heart.csv'
train_data = pd.read_csv(dataPath)

# 字段含义

字段名	    含义	
age	      年龄	
sex	      性别(1 = 男性, 0 = 女性)
cp	      胸部疼痛类型(值1：典型心绞痛，值2：非典型性心绞痛，值3：非心绞痛，值4：无症状）
trestbps   血压	
chol	   胆固醇	
fbs	      空腹血糖（> 120 mg/dl，1=真；0=假）	
restecg	   心电图结果（0=正常，1=患有ST-T波异常，2=根据Estes的标准显示可能或确定的左心室肥大）	
thalach	   最大心跳数	
exang	   运动时是否心绞痛（1=有过；0=没有）
oldpeak	   运动相对于休息的ST
slop	   心电图ST segment的倾斜度(值1:上坡，值2:平坦，值3:下坡） 	
ca	      透视检查看到的血管数	
thal	   缺陷种类（3=正常；6=固定缺陷；7=可逆缺陷）
target	   是否患病（0=否，1=是）

# 打印数据集的简要摘要

In [2]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [3]:
train_data.target.value_counts()

1    165
0    138
Name: target, dtype: int64

# 将“sex”列变为两列“sex_0”和“sex_1”。提示：用get_dummies       5分

In [4]:
sex = pd.get_dummies(train_data['sex'], prefix = "sex")           #5分

#  将“sex_0”和“sex_1”添加到数据集中。     提示：用concat             5分

In [5]:
train_data = pd.concat([train_data,sex], axis = 1)               #5分

#  并将sex列删除。              提示：用drop                                            5分

In [6]:
train_data = train_data.drop(columns = ['sex'])                  #5分

#  打印出前五行。查看sex_0，sex_1是否添加成功，sex是否删除成功。                                                5分

In [7]:
train_data.head()                                                #5分

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,sex_0,sex_1
0,63,3,145,233,1,0,150,0,2.3,0,0,1,1,0,1
1,37,2,130,250,0,1,187,0,3.5,0,0,2,1,0,1
2,41,1,130,204,0,0,172,0,1.4,2,0,2,1,1,0
3,56,1,120,236,0,1,178,0,0.8,2,0,2,1,0,1
4,57,0,120,354,0,1,163,1,0.6,2,0,2,1,1,0

# 得到样本标签  5分

In [8]:
y_data = train_data.target.values
train_data.shape

(303, 15)

# 得到样本特征集  5分

In [9]:
x_data = train_data.drop(['target'],axis=1)
x_data.shape

(303, 14)

# 划分数据集   10分  参数：test_size=0.3, random_state=33

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x_data,y_data,test_size=0.3, random_state=33)

# 归一化处理

# 导入StandardScaler包，并初始化  5分

In [11]:
from sklearn.preprocessing import StandardScaler
standardScaler = StandardScaler()

# fit函数/模块用来训练模型参数        5分

In [12]:
standardScaler.fit(X_train)

StandardScaler()

# 对训练集和测试集进行标准化    10分

In [13]:
X_train = standardScaler.transform(X_train)
X_test = standardScaler.transform(X_test)

# 定义逻辑回归模型  10分

In [14]:
from sklearn.linear_model import LogisticRegression 
log_reg = LogisticRegression()
log_reg.fit(X_train,y_train)

LogisticRegression()

# 计算训练集得分   10分

In [15]:
log_reg.score(X_train,y_train)

0.8537735849056604

# 计算测试集得分   10分

In [16]:
log_reg.score(X_test,y_test)

0.8461538461538461

# 使用classification_report函数显示主要分类指标的文本报告   10分

In [17]:
from sklearn.metrics import classification_report
y_predict_log = log_reg.predict(X_test)
print(classification_report(y_test,y_predict_log))

              precision    recall  f1-score   support

           0       0.93      0.78      0.85        50
           1       0.78      0.93      0.84        41

    accuracy                           0.85        91
   macro avg       0.85      0.85      0.85        91
weighted avg       0.86      0.85      0.85        91